.producto-card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.producto-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.img-card-producto {
    height: 250px;
    object-fit: cover;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: 
        drop-shadow(0 0 3px rgba(0,0,0,0.9))
        drop-shadow(0 0 6px rgba(0,0,0,0.7));
    background-size: 80% 80%;
}