{% load static %}

<div style="
    max-width: 750px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    text-align: center;
    background: linear-gradient(135deg, #ffe4e1, #ffb6c1); /* degradado rosa suave */
    font-family: Arial, sans-serif;
">

    <!-- Título -->
    <h2 style="
        color: #4a2c2a;
        margin-bottom: 25px;
        font-size: 1.8rem;
    ">
        TE AMO, ERES LA MUJER MÁS HERMOSA DEL PLANETA 🤎
    </h2>

    <!-- Imagen -->
    <img src="{% static 'img/minovia.jpg' %}" 
         alt="NOVIA" 
         style="
             max-width: 100%; 
             border-radius: 12px; 
             box-shadow: 0 4px 8px rgba(0,0,0,0.2);
         ">

    <!-- Título -->
    <h3 style="
        color: #4a2c2a;
        margin-bottom: 25px;
        font-size: 1.8rem;
    ">
        PD: COSAS DE METERSE CON UN INGENIERO
    </h3>

</div>